@tailwind base;
@tailwind components;
@tailwind utilities;

.doodle-background {
  background: url(../../public/doodlebackground.svg) fixed;
}

.manrope {
  font-family: var(--font-manrope);
}

.bebas-neue {
  font-family: var(--font-bebas-neue);
}
